<!doctype html>

<title>Upload</title>

<h1>Upload an image to recognize</h1>

<div class="row">
 
  <div class="col-md-7">
    <h1><strong>Image Classifier For Damage Detection</strong></h1>
	<h3>Upload An Image</h3>
    <br>
    

	<form method=post enctype=multipart/form-data action="">
  <p><input type=file name=file>
     <input type=submit value=Upload>
 </p>
 <form>
	
    <h2>Results</h2>
    <br>
    <table class="table" id="results-table">
        <tr>
          <th>Image</th>
          <th>Prediction</th>
        </tr>
		<tr>
          {% block content %}{% endblock %}
        </tr>
    </table>
  </div>
 
</div>